<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Order List</h1>
<a th:href="@{addOrder.html}">Add Order</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        <!--/*@thymesVar id="orders" type="com.testbackfortheinterview.interview.restcontroller.FurnitureRest"*/-->
        <tr th:each ="order : ${orders}">

            <!--/*@thymesVar id="furniture" type="com.testbackfortheinterview.interview.entity.Furniture"*/-->
            <td th:utext="${furniture.id}">...</td>
            <!--/*@thymesVar id="furniture" type="com.testbackfortheinterview.interview.entity.Furniture"*/-->
            <td th:utext="${furniture.name}">...</td>
        </tr>
    </table>
</div>
</body>
</html>