<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Person List</h1>
<a href="addOrder.html">Add Person</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        <!--/*@thymesVar id="orders" type="com.testbackfortheinterview.interview.restcontroller.TymeleafRest"*/-->
        <tr th:each ="order : ${orders}">
            <!--/*@thymesVar id="id" type="com.testbackfortheinterview.interview.entity.Order"*/-->
            <td th:utext="${order.id}">...</td>
            <!--/*@thymesVar id="name" type="com.testbackfortheinterview.interview.entity.Order"*/-->
            <td th:utext="${order.name}">...</td>
        </tr>
    </table>
</div>
</body>
</html>