<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Order List</h1>
<a th:href="@{addOrder.html}">Add Order</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>


        <tr th:each ="order : ${orders}">

            <td th:utext="${order.id}">...</td>

            <td th:utext="${order.name}">...</td>
        </tr>
    </table>
</div>
</body>
</html>